<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>  

    <%- include('./partials/nav.ejs') %>

    <div class="Event content">
        <h2>All Events</h2>

        <% if (events.length > 0) { %>
            <% events.forEach(event => { %>

                <h3 class="title"><%= event.title %></h3>
                <p class="snippet"><%= event.snippet %></p>
                <p class="date"><%= event.date %></p>

            <% }) %>
        <% } else { %>  
            <p>There are no events to display...</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>